.editContainer {
    height: 100vh;

    display: flex;
    align-items: stretch;
}

.editContent {
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;

    width: 100%;
    max-width: 700px;
}

.editContent img {
    width: 350px;
    height: 350px;
}

.editContent form {
    margin: 80px 0;
    width: 340px;
    text-align: center;
}

.editContent form h1 {
    margin-bottom: 24px;
}

.editContent form button {
    background: #9f1329;
    height: 56px;
    border-radius: 10px;
    border: 0;
    padding: 0 16px;
    color: #fff;
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    margin-top: 16px;
    transition: background-color .2s ease;
}

.editContent form button:hover {
    background: #640c19;
}

.editBackground {
    flex: 1;
    background: url('/images/bg.jpg') no-repeat center;
    background-size: cover;
}